@model MvcProject.Models.Product
@*@model List<MvcProject.Models.Product>*@

@{
    ViewBag.Title = "MoreDedails";
}

<h2>פרטים נוספים</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayName("פרטי המפרסם")
        </dt>

        @*<dd>
            @Html.DisplayFor(model => model.Owner.UserName)
       
           
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Owner.Email)
        </dd>*@
        <dt>
            @Html.DisplayName("פרטי המוצר")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        

        <dd>
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>

        


        <dt>
            @Html.DisplayName("תאריך פרסום")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>


        <dt>
            @Html.DisplayName("מחיר")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

       

        <dd>
            @if (Model.picture1 != null)
            {

            <img style="width:200px" ;
                 src='@Url.Action("ShowInHomePage", "Home", new { id = Model.Id })' />
            }
            @if (Model.picture2!=null)
            {
            <img style="width:200px" ;
                 src='@Url.Action("ShowPicture2", "Home", new { id = Model.Id })' />

            }
            @if (Model.picture3!=null)
            {
            <img style="width:200px" ;
                 src='@Url.Action("ShowPicture3", "Home", new { id = Model.Id })' />

            }
            
        </dd>

        <dd>
            @Html.DisplayFor(model => model.LongDescription)
        </dd>
       

      

       

       

       

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
