     
@model IEnumerable<MvcProject.Models.Prodoct>
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Products</h2>
<p>
    @Html.ActionLink("Show", "Home")
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Title)</th>
        <th>@Html.DisplayNameFor(model => model.Price)</th>
        @*<th>@Html.DisplayNameFor(model => model.CategoryId)</th>
        <th>@Html.DisplayNameFor(model => model.Image)</th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Title)</td>
            <td>@Html.DisplayFor(modelItem => item.Price)</td>
            @*<td>@Html.DisplayFor(modelItem => item.CategoryId)</td>*@
            <td>
                @{
                    var base64 = Convert.ToBase64String(item.picture1);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                }
                <img src='@imgSrc' style="max-width:100px; max-height:100px;" />
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id}) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
                    }
</table>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
