@model MvcProject.Models.Product

<div style="width:200px">
</div>
@Model.Title
<br />
@Model.Date
<br />
    <img style="width:200px"
           src='@Url.Action("ShowInHomePage", "Home", new { id = Model.Id })' />
    <br />
   
    @Model.ShortDescription
    <br />
    @Model.Price $
    <br />
       
   @Html.ActionLink("פרטים נוספים", "MoreDedails", "Home", new { id = Model.Id }, string.Empty)
    <br />
    @if (User.Identity.IsAuthenticated && Model.Status == MvcProject.Models.State.ForSale)
    {
        @Html.ActionLink("הוסף לסל", "AddToShopingCard", "ShopingCart", new { id = Model.Id }, string.Empty)
    }

