@model MvcProject.Models.Product
@{
    ViewBag.Title = "ShowInHomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>דף הבית</h2>

<div style="width:200px">
</div>
@Model.Title
<br />
    <img style="width:200px"
           src='@Url.Action("ShowInHomePage", "Home", new { id = Model.Id })' />
    <br />
   
    @Model.ShortDescription
    <br />
    @Model.Price $
    <br />
    @*@Html.ActionLink("More Dedails", "ViewProduct", "Product", new { id = Model.Id }, string.Empty)
    <br />
    @if (User.Identity.IsAuthenticated && Model.State == BuyForU.Models.State.avaliable)
    {
        @Html.ActionLink("Add To Shoping Card", "AddToShopingCard", "ShopingCart", new { id = Model.Id }, string.Empty)
    }*@
@*</div>*@
